@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    text-align: center;
}

.range {
    padding-bottom: 16px;
}

.count {
    font-size: 18px;
}